:root {  
  --hero-color: #407088;   
  --branding-color: #a7acb7;  
  --text-color: #061a36;  
  --font-branding-color: #132743;  
  --font-colors: #691a91;
  --default-font-family: "Libre", "Caslon Lora", serif;
}

h1,h2, h3, h4, h5 {
  color: var(--font-branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
}
 * { 
  font-family: var(--default-font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.navbar-brand {
  font-style: italic;
}

.navbar {
  background-color: var(--branding-color);
}
.logo {
  width: 100px;
  height: 50px;

}
/* carousel part */
.carousel-item {  
    height: 70vh;
    position: relative;
}  

.carousel-item img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}  

.carousel-caption {  
    top: 30%;
    background: rgba(0, 0, 0, 0.5); 
    padding: 18px; 
    margin-bottom: 20px; 
    border-radius: 10px; 
}  

.carousel-caption h1 {  
    font-size: 3.5rem;
    margin-bottom: 0.5rem; 
}  

.carousel-caption h2 {  
    font-size: 2rem; 
    margin-bottom: 1rem; 
}  

.carousel-caption p {  
    font-size: 20px; 
}
.btn-hero {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-family: var(--default-font-family); 
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  padding: 18px 30px;
  line-height: 18px;
}

.flex-container {  
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  gap: 30px; 
  align-items: center;
  justify-content: center;
  padding: 40px 0;   
}  

.lead
{
  font-size: 30px;
  font-weight: 400;
  line-height: 1.8;
  border-left: 5px solid var(--hero-color);
  background-color: #f9f9f9;
  padding: 34px;
  border-radius: 25% 5% 5% 25% / 75% 5% 5% 75%; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.lead em
{
  font-style: italic;
  color: var(--hero-color);
  font-weight: 600;
}

.lead-image {
  width: 100%;
  max-width: 400px;
  background: #e0e0e0;
  border-radius: 15%;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}

.lead-image:hover {  
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);   
}

section a {
  color: var(--font-branding-color);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
} 

.container h2 {
  text-align: center;
  font-size: 3rem;
}

/* project info */
.project-description {  
    margin-top: 15px; 
    font-size: 20px;  
    line-height: 1.6;  
}

.project-image {
  width: 90%;
  height: 60%;
  border-radius: 8px;
  transition: transform 0.5s;
}
.project-image:hover {
  transform: scale(1.04);
}

.harmonious {
  background-image: url(/images/ar1.jpg);
  background-size: cover;
}

.custom-img {
  width: 100%;
  height: 80%;
}

.heading {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {  
  margin-bottom: 25px;  
}  

label {  
    display: block;  
    margin-bottom: 8px;  
}  

input[type="text"],  
input[type="email"], textarea{  
    width: 100%;  
    padding: 10px;  
    border: 1px solid var(--hero-color);  
    border-radius: 5px;  
    box-sizing: border-box;  
}  

button {  
    width: 30%;  
    padding: 10px;  
    background-color: var(--hero-color);
    color: var(--branding-color);  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
}  

button:hover {  
    background-color: var(--font-branding-color);   
}  

.footer {
  background-color: var(--branding-color);
  padding: 8px 0;
}
.footer h2 {
  text-align: center;
}
.footer a {
  color: var(--text-color);
}
.footer a:hover {  
    text-decoration: underline;  
} 
.social {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .heading {
    font-size: 2rem;
  }
  .carousel-caption {
    top: 20%;
    padding: 10px;
  }

  .carousel-caption h1 {
    font-size: 1.5rem;
  }
  .carousel-caption h2 {
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  .carousel-item{
    height: 50vh;
  }
  .flex-container {
    grid-template-columns: 1fr;
  }

  .lead {
    font-size: 16PX;
  }

  .lead-image {
    max-width: 300px;
  }


  .btn-hero {
    font-size: 16px;
    padding: 14px 24px;
  }
  .container h2 {
    font-size: 1.5rem;
  }
  .project-description {
    font-size: 12px;
  }
  .project-image {
    width: 100%;
  }
  .container p {
    font-size: 14px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  input[type="text"], input[type="email"], textarea {
    width: 100%;
  }
}
